  
<div class="row mt-3">
  <div class="col-md-6 ">
     <h1>{{ title }}</h1>
  </div>
  <div class="col-md-6">
    <p class="text-right">
      <button class="btn btn-primary btn-sm" (click)="new = !new">
        <i class="fa fa-plus"></i> new
      </button>
    </p>
  </div>
    
      
   
  
</div>

  <div class="row">
    <div class="col-md-4 mx-auto">
       
      
     <div *ngIf="new">

      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="course.name" id="name" name="name" type="text" class="form-control">
      </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea [(ngModel)]="course.description" id="description" name="description"class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="price">price</label>
            <input [(ngModel)]="course.price" id="price" name="price" type="text" class="form-control">
        </div>

       
    <button *ngIf="etat" class="btn btn-success btn-block" (click)="addCourse()">Add</button>
    <button *ngIf="!etat" class="btn btn-danger btn-block" (click)="updateCourse()">Update</button>
  </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-8 mx-auto">
     
      
      <table class="table ">
        <thead>
          <tr>
            <th>Name</th>
            <th>price</th>
            <th>date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses; index as i, even as e, odd as o" 
          [ngClass]="{ 'table-active': e,'table-warning': !e }">
            <td><strong> {{ course.name | uppercase  }}</strong> 
                <p>{{ course.description }} {{ course.vote.like }} {{ course.vote.disLike }} </p>
                <app-vote [jaime]="course.vote.like" [jaimepas]="course.vote.disLike"
                 (envoyerVote)="updateVoteToCourse($event, course)"
                ></app-vote>

                <app-favorite></app-favorite>
            </td>
            <td>{{ course.price | currency:'EUR':'symbol':'2.2-2' }}</td>
            <td>{{ course.datePublish | date: 'dd/MM/yyyy' }}</td>
            <td class="text-right" nowrap>
                <button class="btn btn-secondary mr-1" (click)="editCourse(course, i)">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button class="btn btn-danger" (click)="deleteCourse(i)">
                      <i class="fa fa-trash"></i>
                  </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!--
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let course of courses; index as i">
            {{ course }}

            <div class="text-right">
              <button class="btn btn-secondary mr-2" (click)="editCourse(course, i)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteCourse(i)">
                  <i class="fa fa-trash"></i>
              </button>
            </div>
          </li>
      </ul>
      -->
    </div>
  </div>