  <div class="row">
    <div class="col-md-6 mx-auto">
        <h1>{{ title }}</h1>
      

        <form #f="ngForm" (ngSubmit)="savePost(f)">

      <div class="form-group">
        <label for="title">Title</label>

        <input 
               required 
               minlength="4"
               maxlength="10"
               pattern="[a-zA-Z0-9 ]*"
               (change)="log(myTitle)" 
               #myTitle="ngModel"  
               [(ngModel)]="post.title" 
               id="title" 
               name="title" 
               type="text" 
               class="form-control"
        >

        <div class="alert alert-danger" *ngIf="myTitle.invalid && myTitle.touched">
          <div *ngIf="myTitle.errors.required">
              this field is required !!
          </div>

          <div *ngIf="myTitle.errors.minlength">
            this field should be great than {{ myTitle.errors.minlength.actualLength }} / 
             {{ myTitle.errors.minlength.requiredLength }} chars !!
          </div>

          <div *ngIf="myTitle.errors.pattern">
              this field not respect the pattern !!
            </div>
        </div>
      </div>

        <div class="form-group">
          <label for="body">body</label>
          <textarea [(ngModel)]="post.body" id="body" name="body"class="form-control"></textarea>
        </div>
       
    <button  class="btn btn-success btn-block" >Add</button>
    <button *ngIf="!etat" class="btn btn-danger btn-block" (click)="putPost()">Update</button>

  </form>
    </div>
  </div>
  
  <div *ngIf="posts.length > 0; then listPosts else noPosts"></div>

  <ng-template #listPosts>
      <div class="row mt-3">
          <div class="col-md-12">
           
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Body</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let post of posts; index as i" (dblclick)="supprimerPost(post.id, i)">
                  <td>{{ post.title }}</td>
                  <td>{{ post.body }}</td>
                  <td></td>
                  <td class="text-right" nowrap>
                     
                    <button (click)="editPost(post)" class="btn btn-warning mr-1">
                          <i class="fa fa-pencil"></i>
                      </button>
      
                      <button (click)=" supprimerPost(post.id, i)" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                      </button>
      
                  </td>
                </tr>
              </tbody>
            </table>
      
          </div>
        </div>
      
  </ng-template>
  

  <ng-template #noPosts>
      <div class="row">
          <div class="col-md-4 mx-auto">
            <div class="alert alert-danger">
              <h1>Pas de posts</h1>
            </div>
          </div>
        </div>
  </ng-template>
  